<div class="container">
  <ng-container *ngIf="finalizado; else juego">
    <div class="containerDialog" *ngIf="dialog">
      <form id="form">
        <p class="container-center">¡Tu puntaje está entre los 10 mejores!<br>Ingresá tu nombre para guardarlo</p>
        <div>
          <app-input (reset)="reset()" (enviarNombre)="createUser($event)"></app-input>
        </div>
      </form>
    </div>
    <div *ngIf="!dialog" class="containerDialog">
      <h2 class="gameOver">Game Over</h2>
      <button (click)="reset()">Reiniciar Juego</button>
    </div>
  </ng-container>

  <ng-template #juego>
    <div *ngIf="!noIniciado" class="img" [ngClass]="[messiState, messiSize]"
      [ngStyle]="{ 'right': right && right+'%' , 'bottom': bottom && bottom+'%'}" (click)="quitarPelota()"></div>

    <div class="barra" *ngIf="!noIniciado">
      <span class="top10" [ngStyle]="{'minWidth':'15%'}"><button [hidden]="!pausado" (click)="verPuntajes()">
          <span class="material-symbols-sharp">
            social_leaderboard
          </span>
          Top 10
        </button></span>
      <button [class.pause]="pausado" (click)="pause()">
        <span class="material-symbols-sharp">
          {{!pausado ? 'pause' : 'play_arrow'}}
        </span>
        {{pausado ? "Reanudar" : "Pausar"}}
      </button>

      <span><span class="cuadro">Quites: {{puntaje}}</span><span class="cuadro">Gambetas: {{gambetas}}/100 </span>

      </span>
      <span class="velocidad">Velocidad: {{velocidad}}ms</span>
    </div>
  </ng-template>
</div>


<div class="containerInicio" *ngIf="noIniciado">
  <app-inicio id="inicio" (iniciarJuego)="iniciarJuego()"></app-inicio>
</div>


<div class="containerInicio" *ngIf="mejoresPuntajes">
  <div class="containerMejoresPuntajes">
    <app-mejores-puntajes class="mejoresPuntajes"></app-mejores-puntajes>
    <div [ngStyle]="{ 'marginTop':'50px'}">
      <button (click)="mejoresPuntajes = false">Cerrar Ventana</button>
    </div>
  </div>
</div>